.container{
    display: grid;
    /* grid-template-columns: 200px auto 200px; */
    grid-template-columns: 1fr 2fr 1fr;
    /* grid-template-columns: repeat(3,1fr); */
    grid-template-rows: 100px 100px ;
    /* row-gap: 2px; */
    /* column-gap: 2px; */
    gap: 2px ;
}
